
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.nav_principal{
    border-bottom: 1px solid rgb(214, 214, 214);
}

nav img{
    width: 100px;
    padding: 20px 0 8px 0;
    margin-left: 25%;
}

#form-container_password{
    margin-top: 100px;
    text-align: center;
}

#form-box_password{
    background-color: transparent;
    border: 1px solid #dbdbdb;
    width: 388px;
}

#form-box_password svg{
    margin-top: 25px;
}

#form-box_password h4{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
}

#form-box_password p{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #737373;
    width: 274px;
    line-height: 18px;
}

#login-form_password input{
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    width: 274px;
    margin: 15px auto;
}

#login-form_password input[type="submit"]{
    background-color: #77c8fd;
    color: #ffffff85;
    margin-top: 15px;
    border-radius: 5px;
    height: 32px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
}

#forgot-pass-password{
    margin-bottom: 40px;
    font-size: 12px;
}

#forgot-pass-password a{
    color: #272727;
}

.button_voltar{
    background-color: #f7f7f7;
    margin-top: 80px;
    padding: 14px 10px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
}

.button_voltar a{
    color: #385185;
    font-size: 13px;
    font-weight: 700;
}

.button_voltar a:hover,
#facebook-login a:hover{
    color: #8f8e8e;
}

@media (max-width:768px) {
    #form-box_password{
        border: none;
    }
    nav img{
        margin-left: 18%;
    }
    .button_voltar{
        width: 90%;
    }
    
}

@media (max-width:400px) {
        
    #form-container_password,
    #form-box_password{
        width: 100%;
        border: none;
    }
    
}
